aiohappyeyeballs==2.6.1
alembic==1.18.4
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
APScheduler==3.11.2
attrs==25.4.0
bcrypt==4.1.1
cachetools==5.5.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
circuitbreaker==2.1.3
click==8.3.1
colorama==0.4.6
cryptography==45.0.7
Deprecated==1.3.1
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.104.1
frozenlist==1.8.0
google-api-core==2.29.0
google-api-python-client==2.110.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.72.0
greenlet==3.3.1
h11==0.16.0
http_ece==1.2.1
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.25.2
idna==3.11
iniconfig==2.3.0
limits==5.8.0
multidict==6.7.0
oauthlib==3.3.1
oci==2.167.0
openpyxl==3.1.5
oracledb==3.4.2
packaging==25.0
passlib==1.7.4
pillow==12.1.0
pluggy==1.6.0
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.3
prometheus-client==0.25.0
prometheus-fastapi-instrumentator==6.1.0
psutil==5.9.8
python-json-logger==4.1.0
py-vapid==1.9.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.8.0
PyMuPDF==1.27.1
pyOpenSSL==25.1.0
pyparsing==3.3.1
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.5.0
python-multipart==0.0.6
pytz==2023.3
pywebpush==2.2.0
PyYAML==6.0.3
reportlab==4.4.9
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
ruff==0.15.12
six==1.17.0
sentry-sdk[fastapi]==2.58.0
slowapi==0.1.9
sniffio==1.3.1
SQLAlchemy==2.0.46
starlette==0.27.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.24.0
watchfiles==1.1.1
websockets==16.0
wrapt==2.1.2
yarl==1.22.0
